<html>
<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-app="example">

<div class="container" ng-controller="UserController">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 ng-hide="users.length">You have no users added so far</h3>
            <table class="table table-hover" ng-show="users.length">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Login</th>
                    <th class="text-center">Password</th>
                    <th class="text-center">Delete</th>
                    <th class="text-center">Edit</th>
                </tr>
                <tr ng-repeat="user in users" ng-include="getTemplate(user)">
                </tr>
                   </table>
                    <script type="text/ng-template" id="display">
                    <td class="text-center">{{ user.name }}</td>
                    <td class="text-center">{{ user.login }}</td>
                    <td class="text-center">{{ user.password }}</td>
                    <td class="text-center">
                        <span ng-click="remove(user)"  class="glyphicon glyphicon-remove" style="cursor: pointer"></span>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-click="userEdit(user)" >Edit</button>
                    </td>
                    </script>

                    <script type="text/ng-template" id="edit">
                      <td><input type="text" class="form-control" ng-model="selected.name" /></td>
                      <td><input type="text" class="form-control" ng-model="selected.login" /></td>
                      <td><input type="text" class="form-control" ng-model="selected.password" /></td>
                      <td>
                        <button class="btn btn-default" ng-click="userUpdate(selected)">Save</button>
                     </td>
                     <td><button class="btn btn-default" ng-click="reset()">Cancel</button></td>
                   </script>

            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name"
                           maxlength="255" ng-model="user.name">
                </div>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" placeholder="Enter login"
                           maxlength="255" ng-model="user.login">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="Enter password"
                           maxlength="255" ng-model="user.password">
                </div>
                <div class="checkbox" ng-repeat="rol in roles_all">
                    <label><input type="checkbox" ng-model="rol.selected" value="">{{rol.name}}</label>
                </div>
                <br/>
                <button  type="submit" class="btn btn-default" ng-click="addUser()">Add User</button>
            </form>

            <form>
                <div class="form-group">
                    <label for="keywords">Find user and roles by name</label>
                    <input type="text" class="form-control" id="keywords" placeholder="Enter User Name"
                           maxlength="255" ng-model="name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="findRoles(name)">Find Roles</button>
                <div align="center">
                    <p  style="color:chocolate">Name : {{ name }}
                    <p  style="color:chocolate"  ng-repeat="role in roles">Found role name : {{role }}</p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
